// Reset
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Mix
body {
  font-family: 'Open Sans', sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

// logo
.logo {
  width: 200px;
}

// contenitori
.container {
  max-width: 1140px;
  margin: 0 auto;
  width: 100%;

  @include large {
    max-width: 960px;
  }

  @include medium {
    max-width: 732px;
  }

  @include small {
    max-width: 540px;
  }

  @include extra_small {
    max-width: 380px;
  }

  @include extra_extra_small {
    max-width: 300px;
  }
}