.product_main {
  background-color: $background_products_color;
  padding-top: 30px;
  padding-bottom: 30px;

  .container {
    h1 {
      text-align: center;
      font-size: 22px;
      color: $title_pastas_color;
      font-weight: 600;
    }

    img {
      width: 100%;
    }

    p {
      color: $title_pastas_color;
      font-weight: 600;
    }
  }
}