* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.flex {
  display: flex;
  flex-direction: row;
  align-items: center;
}

ul {
  list-style: none;
}

ul a {
  text-decoration: none;
}

.logo {
  width: 200px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

h3 {
  text-transform: uppercase;
  color: #002d73;
  font-weight: 600;
  margin-left: 5px;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

header {
  text-align: center;
}
header ul {
  justify-content: center;
}
header ul li {
  padding: 15px;
  color: #000;
  font-weight: 600;
  cursor: pointer;
}
header ul li.active {
  background-color: #b2e5fc;
}

main {
  background-image: url("../../../img/fondo-pag-speciali.jpg");
  width: 100%;
  padding: 30px 0;
}
main .cards_container {
  flex-wrap: wrap;
}
main .cards_container .card {
  width: calc((100% / 3) - 10px);
  margin: 5px;
}
main .cards_container .card img {
  width: 100%;
}

footer {
  position: relative;
  padding: 30px 0 100px 0;
  font-size: 12px;
  color: #848d9b;
  overflow: hidden;
}
footer .container {
  align-items: flex-start;
}
footer .address {
  width: calc(100% / 3);
}
footer .address .logo {
  margin: 0;
}
footer .footer_nav {
  justify-content: space-between;
  width: calc((100% / 3) * 2);
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 20px;
}
footer .footer_nav .footer_nav_list {
  width: 50%;
  padding-top: 15px;
}
footer .footer_nav .footer_nav_list a {
  line-height: 18px;
  color: #848d9b;
}
footer .overlay {
  position: absolute;
  height: 100px;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  min-width: calc(100% + 150px);
}

.mrg_up_down_10 {
  margin: 10px 0;
}

.mrg_up_down_20 {
  margin: 20px 0;
}

.mrg_up_down_30 {
  margin: 30px 0;
}

.mrg_up_down_40 {
  margin: 40px 0;
}

.mrg_up_down_50 {
  margin: 50px 0;
}

.mrg_up_down_60 {
  margin: 60px 0;
}

.mrg_up_down_70 {
  margin: 70px 0;
}

.mrg_up_down_80 {
  margin: 80px 0;
}

.mrg_up_down_90 {
  margin: 90px 0;
}

.mrg_up_down_100 {
  margin: 100px 0;
}

.mrg_up_down_5 {
  margin: 5px 0;
}

.mrg_up_down_10 {
  margin: 10px 0;
}

.mrg_up_down_15 {
  margin: 15px 0;
}

.mrg_up_down_20 {
  margin: 20px 0;
}

.mrg_up_down_25 {
  margin: 25px 0;
}

.mrg_up_down_30 {
  margin: 30px 0;
}

.mrg_up_down_35 {
  margin: 35px 0;
}

.mrg_up_down_40 {
  margin: 40px 0;
}

.mrg_up_down_45 {
  margin: 45px 0;
}

.mrg_up_down_50 {
  margin: 50px 0;
}

.mrg_left_right_10 {
  margin: 0 10px;
}

.mrg_left_right_20 {
  margin: 0 20px;
}

.mrg_left_right_30 {
  margin: 0 30px;
}

.mrg_left_right_40 {
  margin: 0 40px;
}

.mrg_left_right_50 {
  margin: 0 50px;
}

.mrg_left_right_60 {
  margin: 0 60px;
}

.mrg_left_right_70 {
  margin: 0 70px;
}

.mrg_left_right_80 {
  margin: 0 80px;
}

.mrg_left_right_90 {
  margin: 0 90px;
}

.mrg_left_right_100 {
  margin: 0 100px;
}

.mrg_left_right_5 {
  margin: 0 5px;
}

.mrg_left_right_10 {
  margin: 0 10px;
}

.mrg_left_right_15 {
  margin: 0 15px;
}

.mrg_left_right_20 {
  margin: 0 20px;
}

.mrg_left_right_25 {
  margin: 0 25px;
}

.mrg_left_right_30 {
  margin: 0 30px;
}

.mrg_left_right_35 {
  margin: 0 35px;
}

.mrg_left_right_40 {
  margin: 0 40px;
}

.mrg_left_right_45 {
  margin: 0 45px;
}

.mrg_left_right_50 {
  margin: 0 50px;
}

.mrg_left_10 {
  margin-left: 10px;
}

.mrg_left_20 {
  margin-left: 20px;
}

.mrg_left_30 {
  margin-left: 30px;
}

.mrg_left_40 {
  margin-left: 40px;
}

.mrg_left_50 {
  margin-left: 50px;
}

.mrg_left_60 {
  margin-left: 60px;
}

.mrg_left_70 {
  margin-left: 70px;
}

.mrg_left_80 {
  margin-left: 80px;
}

.mrg_left_90 {
  margin-left: 90px;
}

.mrg_left_100 {
  margin-left: 100px;
}

.mrg_left_5 {
  margin-left: 5px;
}

.mrg_left_10 {
  margin-left: 10px;
}

.mrg_left_15 {
  margin-left: 15px;
}

.mrg_left_20 {
  margin-left: 20px;
}

.mrg_left_25 {
  margin-left: 25px;
}

.mrg_left_30 {
  margin-left: 30px;
}

.mrg_left_35 {
  margin-left: 35px;
}

.mrg_left_40 {
  margin-left: 40px;
}

.mrg_left_45 {
  margin-left: 45px;
}

.mrg_left_50 {
  margin-left: 50px;
}

.mrg_right_10 {
  margin-right: 10px;
}

.mrg_right_20 {
  margin-right: 20px;
}

.mrg_right_30 {
  margin-right: 30px;
}

.mrg_right_40 {
  margin-right: 40px;
}

.mrg_right_50 {
  margin-right: 50px;
}

.mrg_right_60 {
  margin-right: 60px;
}

.mrg_right_70 {
  margin-right: 70px;
}

.mrg_right_80 {
  margin-right: 80px;
}

.mrg_right_90 {
  margin-right: 90px;
}

.mrg_right_100 {
  margin-right: 100px;
}

.mrg_right_5 {
  margin-right: 5px;
}

.mrg_right_10 {
  margin-right: 10px;
}

.mrg_right_15 {
  margin-right: 15px;
}

.mrg_right_20 {
  margin-right: 20px;
}

.mrg_right_25 {
  margin-right: 25px;
}

.mrg_right_30 {
  margin-right: 30px;
}

.mrg_right_35 {
  margin-right: 35px;
}

.mrg_right_40 {
  margin-right: 40px;
}

.mrg_right_45 {
  margin-right: 45px;
}

.mrg_right_50 {
  margin-right: 50px;
}

.mrg_10 {
  margin: 10px;
}

.mrg_20 {
  margin: 20px;
}

.mrg_30 {
  margin: 30px;
}

.mrg_40 {
  margin: 40px;
}

.mrg_50 {
  margin: 50px;
}

.mrg_60 {
  margin: 60px;
}

.mrg_70 {
  margin: 70px;
}

.mrg_80 {
  margin: 80px;
}

.mrg_90 {
  margin: 90px;
}

.mrg_100 {
  margin: 100px;
}

.mrg_5 {
  margin: 5px;
}

.mrg_10 {
  margin: 10px;
}

.mrg_15 {
  margin: 15px;
}

.mrg_20 {
  margin: 20px;
}

.mrg_25 {
  margin: 25px;
}

.mrg_30 {
  margin: 30px;
}

.mrg_35 {
  margin: 35px;
}

.mrg_40 {
  margin: 40px;
}

.mrg_45 {
  margin: 45px;
}

.mrg_50 {
  margin: 50px;
}
