header {
  text-align: center;

  img {
      width: 200px;
  }

  ul {
    justify-content: center;

    li {
      padding: 15px;
      color: #000;
      font-weight: 600;
      cursor: pointer;

      &.active {
        background-color: $back_active;
      }
    }
  }
}