// colori
$back_active: #b2e5fc;
$back_dark_long: #b6dbe4;
$back_dark_short_and_vs: #b7d9e3;
$back_light_long: #cde2e7;
$back_light_short: #cce1e6;
$text_color: #848d9b;
$title_pastas_color: #002d73;
$background_products_color: #b7dae5;


